body{
  margin:0;
}
div,h1,h2,h3,h4,h5,h6,p,a,ul,li{
  font-family: 'Ubuntu', sans-serif;  
}
.main-container{
  background-image: url('../images/background-chris-os.jpg');
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
.top-bar {
  background: rgba(255, 255, 255, 0.3);
  height: 25px;
  position: fixed;
  z-index: 1;
  width: calc(100% - 20px);
  margin: 10px;
  border-radius: 6px;
  padding: 5px 10px;
  box-sizing: border-box;  
  box-shadow:0 0 6px #868686;
}
.top-bar img{
  width: 15px;
  height: 15px;
  opacity: .8;
  margin-right: 6px;
}
.top-bar img.chevron{
  width: 7px;
  height: 7px;
  position: absolute;
  right: 0;
  top: 2px;
}
.top-bar .left-container{
  float:left;
  width:50%;  
  z-index:2;
  position: relative;
}
.top-bar a{
  position: relative;
  margin-right:10px;
}
.top-bar a:hover img{
  opacity: 1;
}
.top-bar a:last-child{
  margin-right:0;
}
.top-bar a.chevron{
  padding-right: 13px;
}
a{
  text-decoration: none
}
.top-bar .middle-container{
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  text-align: center;
  top: 6px;
  color: white;
  font-weight: 700;
  font-size: 11px;
  text-transform: lowercase;
  z-index:1;
}
.top-bar .right-container{
  float:right;
  width:50%;
  z-index:2;
  position: relative;
  text-align:right;
}
.bottom-menu{
  position: fixed;
  bottom: 10px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 320px;
  background: rgba(255, 255, 255, 0.3);
  height: 45px;
  border-radius: 6px;
  padding: 5px 10px;
  box-sizing: border-box;
  box-shadow:0 0 6px #868686;
}
.bottom-menu img{
  width: 35px;
  padding: 3px;
  height: 35px;
  box-sizing: border-box;
  background: rgba(255, 255, 255, .3);
  border-radius: 4px;
}
.bottom-menu a{
  margin-right:5px;
}
.bottom-menu a:hover img{
  background: rgba(255,255,255, .5);
}
.bottom-menu a:last-child{
  margin-right:0;
}